// Four-pane grid layout.  Use: zellij --layout quad
layout {
    pane split_direction="vertical" {
        pane split_direction="horizontal" {
            pane
            pane
        }
        pane split_direction="horizontal" {
            pane
            pane
        }
    }
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}
